#thanks {
    height: 100vh;
}
#thanks .message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: auto;
    justify-content: space-around;
   
     .back-to-home {
        position: absolute;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-size: 18px;
        width: 160px;
        height: 50px;
        margin: 0px 0 0 -80px;
        background: black;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover {
            background: white;
            color: black;
        }
    }
}